header{
   max-width: 850px;
   max-height: 850px;

}
h1{
   color: Black;
   text-align: center;
   font-size: 70px;
   font-family:Oswald;
   font-weight: bolder;
   margin: 0px;
   padding: 15px;
}
p{  line-height: 1.5;
   margin: 20px 350px;
   color:black;
   font-family: Verdana;
   font-size: 16px;
   width:40em;
   text-align:left;
}
img
{
border:1px solid #021a40;
display: block;
max-width: 850px;
max-height: 850px;
margin-left: 250px;
margin-right: 100px;
}
footer{
   font-family: Verdana;
   text-align: center;
}
